@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rosario:ital,wght@0,300..700;1,300..700&display=swap');

/* 
fuentes:
font-family: "Rosario", sans-serif;
font-family: "Raleway", sans-serif;
font-family: "Roboto", sans-serif;
font-family: "Caveat", cursive;
*/

/*
XS
SM
MD
LG
XL
*/

/* INICIALIZO VARIABLES */
:root{
    /* VARIABLES MOBILE */
    --bg-slogan-recib-color: #FBE4FF;
    --bg-nav-bar-color: #BC98FF;
    --bg-intro-prods-color: #F2DAFF;
    --bg-barra-titulos-y-catalogos: #D7B8FF;
    --bg-pie-pagina: #000000;
    --bg-blanco-secciones-especificas: #ffffff;
    --bg-index-link-trio-botoneras: #BC98FF;
    --bg-presenta-marca: #E9CFFF;
    --font-intro-slogan: "Caveat", cursive;
    --font-general: "Roboto", sans-serif;
    --font-pie-de-pagina: "Rosario", sans-serif;
    --font-size-general-mobile: 16px;
    --font-size-titulos-mobile: 24px;
    --bg-img-fondo-waves: url(../assets/waves.svg);
}

/* CLASES GENERALES Y GENÉRICAS */

.negrita{
    font: bolder;
}

.acomodoTextoYElementos{
    display: flex;
    align-items: center;
    text-align:center;
    justify-content: center;
    height: 100%;
}

.tamanoFont{
    font-size: var(--font-size-general-mobile);
}

.estiloFont{
    font-family: var(--font-general);
    color:#000000;
}

.textoBlanco{
    color: #ffffff;
    text-shadow:#000000;
}

.fondoPresentacionMarcasYTips{
    background-color: var(--bg-presenta-marca);
    background-image: var(--bg-img-fondo-waves);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right center;
}

/* CSS INDEX */

.sloganRecibimiento{
    height: 36px;
    background-color: var(--bg-slogan-recib-color);
    font-family: var(--font-intro-slogan);
    font-size: var(--font-size-titulos);
}

.textoRecibimiento{
    height: 120px;
    background-color: var(--bg-blanco-secciones-especificas);
    font-size: 10px;
}

.barraNav{
    height: 30px;
    background-color: var(--bg-nav-bar-color);
    font-size: 18px;
}

.presentacionMarca{
    height: 200px;
}

.presentacionMarca img{
    height: 150px;
    width: 150px;
    border-radius: 100px;
}

.textoPresentacion{
    font-size: 14px;
}

.introProductos{
    height: 36;
    background-color: var(--bg-intro-prods-color);
    font-size: 12px;
}

.indexLinkBotonera{
    height: 180px;
    background-color: var(--bg-index-link-trio-botoneras);
    font-size: 14px;
}

.indexLinkTips{
    height: 120px;
    background-color: var(--bg-barra-titulos-y-catalogos);
}

.sobreNosotros{
    height: 240px;
    background-image: url(../assets/Sobre-nosotros.png);
    background-size: cover;
}

.encabezadoSobreNos{
    height: 72px;
    font-size: var(--font-size-titulos-mobile);
}

.textoSobreNos{
    height: 168px;
}

.recordatorioRRSSParaPromos{
    height: 240px;
    background-image: url(../assets/incitar-redes.png);
    background-size: cover;
}

.pieDePagina{
    height: 120px;
    background-color: var(--bg-pie-pagina);
    font-family: var(--font-pie-de-pagina);
    font-size: 24px;
}

.pieDePagina img{
    height: 40px;
    width: 40px;
}

/* CSS MARCAS */

.contenedorMarcas{
    height: 180;
}

.logoMarca{
    height: 100%;
    max-height: 100%;
}