
.itemLinkCorporalFacial{
    height: 150px;
    /*flex: 1 1 33%;
    max-width: 33%;*/
    width: 30%;
    a{
        font-size: $font-size-general-mobile;
    }
    transform: scale(1);
    transition: all 0.15s ease-in;
    &:hover{
        transform: scale(1.15);
        img{
            filter: blur(4px) grayscale(50%);
        }
    }
    @media only screen and (min-width: $mediaMinTablets) and (max-width: $mediaMaxTablets){
        height: 225px;
        a{
            font-size: $font-size-general-tablets;
        }
    }
    @media only screen and (min-width: $mediaMinDesktop){
        height: 300px;
        a{
            font-size: $font-size-general-desktop;
        }
    }
}

.contenedor-texto-sobre-imagen{
    overflow: hidden;
    p{
        font-size: $font-size-general-mobile;
        border-radius: 5px;
    }
    img{
        margin-top: 13px;
        margin-bottom: 13px;
        top: 50%;
        left: 50%;
        width: 125px;
        height: auto;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

    }
    @media only screen and (min-width: $mediaMinTablets) and (max-width: $mediaMaxTablets){
        p{
            font-size: $font-size-general-tablets;
        }
        img{
            width: 200px;
        }
    }
    @media only screen and (min-width: $mediaMinDesktop){
        p{
            font-size: $font-size-general-desktop;
        }
        img{
            width: 275px;
        }
    }
}

.texto-sobre-imagen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.barraCategoriaProductos{
    width: 100%;
    height: 30px;
    background-color: $bg-barra-titulos-y-catalogos;
    @media only screen and (min-width: $mediaMinTablets) and (max-width: $mediaMaxTablets){
        height: 45px;
    }
    @media only screen and (min-width: $mediaMinDesktop){
        height: 60px;
    }
}

.muestraProductos{
    justify-content: space-evenly;
    .carruselProductos{
        height: 150px;
        width: 30%;
        overflow: hidden;
        align-items: center;
        img{
            margin-top: 10px;
            width: auto;
            height: 125px;
            border-radius: 5px;
            top: 50%;
            left: 50%;
        }
        transform: scale(1);
        transition: all 0.15s ease-in;
        &:hover{
            transform: scale(1.15);
        }
        @media only screen and (min-width: $mediaMinTablets) and (max-width: $mediaMaxTablets){
            height: 225px;
            width: 20%;
            img{
                height: 175px;
            }
        }
        @media only screen and (min-width: $mediaMinDesktop){
            height: 350px;
            width: 20%;
            img{
                height: 275px;
            }
        }
    }
}

.barraCategoriaProductoYEnvioACatalogo{
    height: 30px;
    background-color: $bg-barra-titulos-y-catalogos;
    h2, a{
        font-size: $font-size-titulos-mobile;
        color: $font-color-enlaces;
        text-decoration: none;
    }
    a{
        &:hover{
            color: white;
            font: bolder;
        }
    }
    @media only screen and (min-width: $mediaMinTablets) and (max-width: $mediaMaxTablets){
        height: 45px;
        h2, a{
            font-size: $font-size-titulos-tablets;
        }
    }
    @media only screen and (min-width: $mediaMinDesktop){
        height: 60px;
        h2, a{
            font-size: $font-size-titulos-desktop;
        }
    }
}

.NovedadesYLanzamientos{
    height: 200px;
    background-image: url(../assets/novedades.jpg);
    background-size: cover;
    h2{
        font-size: $font-size-titulos-mobile;
    }
    p{
        font-size: $font-size-general-mobile;
    }
    @media only screen and (min-width: $mediaMinTablets) and (max-width: $mediaMaxTablets){
        height: 300px;
        h2{
            font-size: $font-size-titulos-tablets;
        }
        p{
            font-size: $font-size-general-tablets;
        }
    }
    @media only screen and (min-width: $mediaMinDesktop){
        height: 400px;
        h2{
            font-size: $font-size-titulos-desktop;
        }
        p{
            font-size: $font-size-general-desktop;
        }
    }
}

/* actualizo */