.presentacionMarca{
    height: 200px;
    img{
        height: 125px;
        width: 125px;
        border-radius: 150px;
    }
    @media only screen and (min-width: $mediaMinTablets) and (max-width: $mediaMaxTablets){
        height: 300px;
        img{
            height: 225px;
            width: 225px;
        }
    }
    @media only screen and (min-width: $mediaMinDesktop){
        height: 400px;
        img{
            height: 300px;
            width: 300px;
        }
    }
}

.textoPresentacion{
    font-size: $font-size-ocacional-1;
    font-style: italic;
    @media only screen and (min-width: $mediaMinTablets) and (max-width: $mediaMaxTablets){
        font-size: $font-size-ocacional-tablets-1;
    }
    @media only screen and (min-width: $mediaMinDesktop){
        font-size: $font-size-ocacional-desktop-2;
    }
}

.introProductos{
    height: 36px;
    background-color: $bg-intro-prods-color;
    font-size: $font-size-ocacional-1;
    @media only screen and (min-width: $mediaMinTablets) and (max-width: $mediaMaxTablets){
        font-size: $font-size-ocacional-tablets-1;
        height: 54px;
    }
    @media only screen and (min-width: $mediaMinDesktop){
        font-size: $font-size-ocacional-desktop-1;
        height: 72px;
    }
}

.indexLinkBotonera{
    height: 180px;
    background-color: $bg-index-link-trio-botoneras;
    padding: 5px;
    a{
        color: $font-color-enlaces;
        text-decoration: none;
    }
    p{
        font-size: $font-size-ocacional-2;
    }
    img{
        width: auto;
        height: 90px;
        transform: scale(1);
        transition: all 0.15s ease-in;
        &:hover{
            transform: scale(1.15);
        }
    }
    @media only screen and (min-width: $mediaMinTablets) and (max-width: $mediaMaxTablets){
        height: 240px;
        p{
            font-size: $font-size-ocacional-tablets-2;
        }
        img{
            width: auto;
            height: 135px;
        }
    }
    @media only screen and (min-width: $mediaMinDesktop){
        height: 360px;
        p{
            font-size: $font-size-ocacional-desktop-2;
        }
        img{
            width: auto;
            height: 180px;
        }
    }
}

.indexLinkTips{
    height: 120px;
    background-color: $bg-barra-titulos-y-catalogos;
    a{
        color: $font-color-enlaces;
        font-size: $font-size-titulos-mobile;
        text-decoration: none;
    }
    @media only screen and (min-width: $mediaMinTablets) and (max-width: $mediaMaxTablets){
        height: 180px;
        a{
            font-size: $font-size-titulos-tablets;
        }
    }
    @media only screen and (min-width: $mediaMinDesktop){
        height: 240px;
        a{
            font-size: $font-size-titulos-desktop;
        }
    }
}

.sobreNosotros{
    height: 300px;
    background-image: url(../assets/Sobre-nosotros.png);
    background-size: cover;
    .encabezadoSobreNos{
        height: 50px;
        h2{
            font-size: $font-size-ocacional-3;
        }
    }
    .textoSobreNos{
        height: 250px;
        p{
            font-size: $font-size-ocacional-1;
        }
    }
    @media only screen and (min-width: $mediaMinTablets) and (max-width: $mediaMaxTablets){
        height: 450px;
        .encabezadoSobreNos{
            height: 100px;
            h2{
                font-size: $font-size-ocacional-tablets-3;
            }
        }
        .textoSobreNos{
            height: 350px;
            p{
                font-size: $font-size-ocacional-tablets-1;
            }
        }
    }
    @media only screen and (min-width: $mediaMinDesktop){
        height: 600px;
        .encabezadoSobreNos{
            height: 150px;
            h2{
                font-size: $font-size-ocacional-desktop-3;
            }
        }
        .textoSobreNos{
            height: 450px;
            p{
                font-size: $font-size-ocacional-desktop-1;
            }
        }
    }
}

.recordatorioRRSSParaPromos{
    height: 240px;
    background-image: url(../assets/incitar-redes.png);
    background-size: cover;
    p{
        font-size: $font-size-titulos-mobile;
    }
    @media only screen and (min-width: $mediaMinTablets) and (max-width: $mediaMaxTablets){
        height: 360px;
        p{
            font-size: $font-size-titulos-tablets;
        }
    }
    @media only screen and (min-width: $mediaMinDesktop){
        height: 480px;
        p{
            font-size: $font-size-titulos-desktop;
        }
    }
}

a:hover{
    color: white;
    font: bolder;
    border-radius: 5px;
}

a:active{
    color: white;
    font: bolder;
    border-radius: 5px;
    background-color: #000000;
}