.contenedorMarcas{
    height: 180;
    p{
        font-size: $font-size-general-mobile;
    }
    @media only screen and (min-width: $mediaMinTablets) and (max-width: $mediaMaxTablets){
        height: 270;
        p{
            font-size: $font-size-general-tablets;
        }
    }
    @media only screen and (min-width: $mediaMinDesktop){
        height: 360;
        p{
            font-size: $font-size-general-desktop;
        }
    }
}

.tituloMarca h1{
    font-weight: bolder;
    font-size: $font-size-ocacional-4;
    @media only screen and (min-width: $mediaMinTablets) and (max-width: $mediaMaxTablets){
        font-size: $font-size-ocacional-tablets-4;
    }
    @media only screen and (min-width: $mediaMinDesktop){
        font-size: $font-size-ocacional-desktop-4;
    }
}

.logoMarca img{
    margin: 10px;
    height: 75px;
    width: 75px;
    border-radius: 100px;
    @media only screen and (min-width: $mediaMinTablets) and (max-width: $mediaMaxTablets){
        height: 115px;
        width: 115px;
    }
    @media only screen and (min-width: $mediaMinDesktop){
        height: 200px;
        width: 200px;
        border-radius: 150px;
    }
}

.botonCatalogoMarcas 
{
    background-color: transparent;
    img{
        margin: 10px;
        height: 50px;
        width: 200px;
        transform: scale(1);
        transition: all 0.15s ease-in;
        &:active{
            transform: scale(0.95);

        }
        @media only screen and (min-width: $mediaMinTablets) and (max-width: $mediaMaxTablets){
            height: 75px;
            width: 300px;
        }
        @media only screen and (min-width: $mediaMinDesktop){
            height: 100px;
            width: 400px;
        }
    }
}