/* VARIABLES MOBILE */
$bg-slogan-recib-color: #FBE4FF;
$bg-nav-bar-color: #BC98FF;
$bg-intro-prods-color: #F2DAFF;
$bg-barra-titulos-y-catalogos: #D7B8FF;
$bg-pie-pagina: #000000;
$bg-blanco-secciones-especificas: #ffffff;
$bg-index-link-trio-botoneras: #BC98FF;
$bg-presenta-marca: #E9CFFF;
$font-intro-slogan: "Caveat", cursive;
$font-general: "Roboto", sans-serif;
$font-pie-de-pagina: "Rosario", sans-serif;
$font-size-general-mobile: 10px;
$font-size-ocacional-1: 12px;
$font-size-ocacional-2: 14px;
$font-size-titulos-mobile: 16px;
$font-size-ocacional-3: 18px;
$font-size-ocacional-4: 24px;
$bg-img-fondo-waves: url(../assets/waves.svg);

/* VARIABLES TABLETS/LAPTOPS */
$font-size-general-tablets: 16px;
$font-size-ocacional-tablets-1: 18px;
$font-size-ocacional-tablets-2: 22px;
$font-size-titulos-tablets: 24px;
$font-size-ocacional-tablets-3: 28px;
$font-size-ocacional-tablets-4: 36px;

/* VARIABLES DESKTOP */
$font-size-general-desktop: 26px;
$font-size-ocacional-desktop-1: 28px;
$font-size-ocacional-desktop-2: 36px;
$font-size-titulos-desktop: 38px;
$font-size-ocacional-desktop-3: 44px;
$font-size-ocacional-desktop-4: 58px;

/*BREAKPOINTS*/
$mediaMinTablets: 481px;
$mediaMaxTablets: 1279px;
$mediaMinDesktop: 1280px;

/*funciona??*/
