/* VARIABLES MOBILE */
/* VARIABLES TABLETS/LAPTOPS */
/* VARIABLES DESKTOP */
/*BREAKPOINTS*/
/*funciona??*/
main {
  background-color: #E9CFFF;
}
main ul {
  list-style: none;
}

.negrita {
  font-weight: bolder;
}

.deployFlex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.acomodoTextoYElementos {
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
}

.tamanoFont {
  font-size: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .tamanoFont {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .tamanoFont {
    font-size: 18px;
  }
}

.estiloFont {
  font-family: "Roboto", sans-serif;
  color: #000000;
}

.textoBlanco {
  color: #ffffff;
  text-shadow: #000000;
}

.sloganRecibimiento {
  height: 36px;
  background-color: #FBE4FF;
  font-family: "Caveat", cursive;
}
.sloganRecibimiento h1 {
  font-size: 16px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .sloganRecibimiento {
    height: 54px;
  }
  .sloganRecibimiento h1 {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1280px) {
  .sloganRecibimiento {
    height: 72px;
  }
  .sloganRecibimiento h1 {
    font-size: 28px;
  }
}

.fondoPresentacionMarcasYTips {
  /*background-color: $bg-presenta-marca;*/
  background-image: url(../assets/waves.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right center;
  height: max-content;
  padding: 10px;
}

.recibimientoCorporalFacialYTips {
  height: 150px;
  background-image: url(../assets/banner_facial_corporal.jpg);
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .recibimientoCorporalFacialYTips {
    height: 225px;
    font-size: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .recibimientoCorporalFacialYTips {
    height: 300px;
    font-size: 18px;
  }
}

.texto-sobre-imagen {
  position: absolute;
  color: white;
  font-size: 24px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .texto-sobre-imagen {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1280px) {
  .texto-sobre-imagen {
    font-size: 40px;
  }
}

.pieDePagina {
  height: 60px;
  background-color: #000000;
  font-family: "Rosario", sans-serif;
}
.pieDePagina img {
  height: 40px;
  width: 40px;
}
.pieDePagina .contactoPiePagina {
  font-size: 14px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .pieDePagina {
    height: 90px;
  }
  .pieDePagina img {
    height: 60px;
    width: 60px;
  }
  .pieDePagina .contactoPiePagina {
    font-size: 22px;
  }
}
@media only screen and (min-width: 1280px) {
  .pieDePagina {
    height: 120px;
  }
  .pieDePagina img {
    height: 80px;
    width: 80px;
  }
  .pieDePagina .contactoPiePagina {
    font-size: 24px;
  }
}

.barraNav {
  height: 30px;
  background-color: #BC98FF;
  word-spacing: 25px;
}
.barraNav ul {
  list-style-type: none;
}
.barraNav ul li a {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  position: relative;
}
.barraNav ul li a::before {
  content: "";
  border-bottom: 4px solid #000000;
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0%;
  transition: all 0.15s ease-in;
  opacity: 0;
}
.barraNav ul li a:hover::before {
  width: 100%;
  opacity: 1;
}
.barraNav ul li a:hover {
  color: white;
  font: bolder;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .barraNav {
    height: 45px;
  }
  .barraNav ul li a {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1280px) {
  .barraNav {
    height: 60px;
  }
  .barraNav ul li a {
    font-size: 28px;
  }
}

a:hover {
  color: white;
  font: bolder;
  border-radius: 5px;
}

a:active {
  color: white;
  font: bolder;
  border-radius: 5px;
  background-color: #000000;
}

.presentacionMarca {
  height: 200px;
}
.presentacionMarca img {
  height: 125px;
  width: 125px;
  border-radius: 150px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .presentacionMarca {
    height: 300px;
  }
  .presentacionMarca img {
    height: 225px;
    width: 225px;
  }
}
@media only screen and (min-width: 1280px) {
  .presentacionMarca {
    height: 400px;
  }
  .presentacionMarca img {
    height: 300px;
    width: 300px;
  }
}

.textoPresentacion {
  font-size: 12px;
  font-style: italic;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .textoPresentacion {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1280px) {
  .textoPresentacion {
    font-size: 24px;
  }
}

.introProductos {
  height: 36px;
  background-color: #F2DAFF;
  font-size: 12px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .introProductos {
    font-size: 18px;
    height: 54px;
  }
}
@media only screen and (min-width: 1280px) {
  .introProductos {
    font-size: 20px;
    height: 72px;
  }
}

.indexLinkBotonera {
  height: 180px;
  background-color: #BC98FF;
  padding: 5px;
}
.indexLinkBotonera a {
  color: #000000;
  text-decoration: none;
}
.indexLinkBotonera p {
  font-size: 14px;
}
.indexLinkBotonera img {
  width: auto;
  height: 90px;
  transform: scale(1);
  transition: all 0.15s ease-in;
}
.indexLinkBotonera img:hover {
  transform: scale(1.15);
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .indexLinkBotonera {
    height: 240px;
  }
  .indexLinkBotonera p {
    font-size: 22px;
  }
  .indexLinkBotonera img {
    width: auto;
    height: 135px;
  }
}
@media only screen and (min-width: 1280px) {
  .indexLinkBotonera {
    height: 360px;
  }
  .indexLinkBotonera p {
    font-size: 24px;
  }
  .indexLinkBotonera img {
    width: auto;
    height: 180px;
  }
}

.indexLinkTips {
  height: 120px;
  background-color: #D7B8FF;
}
.indexLinkTips a {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .indexLinkTips {
    height: 180px;
  }
  .indexLinkTips a {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1280px) {
  .indexLinkTips {
    height: 240px;
  }
  .indexLinkTips a {
    font-size: 28px;
  }
}

.sobreNosotros {
  height: 300px;
  background-image: url(../assets/Sobre-nosotros.png);
  background-size: cover;
}
.sobreNosotros .encabezadoSobreNos {
  height: 50px;
}
.sobreNosotros .encabezadoSobreNos h2 {
  font-size: 18px;
}
.sobreNosotros .textoSobreNos {
  height: 250px;
}
.sobreNosotros .textoSobreNos p {
  font-size: 12px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .sobreNosotros {
    height: 450px;
  }
  .sobreNosotros .encabezadoSobreNos {
    height: 100px;
  }
  .sobreNosotros .encabezadoSobreNos h2 {
    font-size: 28px;
  }
  .sobreNosotros .textoSobreNos {
    height: 350px;
  }
  .sobreNosotros .textoSobreNos p {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1280px) {
  .sobreNosotros {
    height: 600px;
  }
  .sobreNosotros .encabezadoSobreNos {
    height: 150px;
  }
  .sobreNosotros .encabezadoSobreNos h2 {
    font-size: 32px;
  }
  .sobreNosotros .textoSobreNos {
    height: 450px;
  }
  .sobreNosotros .textoSobreNos p {
    font-size: 20px;
  }
}

.recordatorioRRSSParaPromos {
  height: 240px;
  background-image: url(../assets/incitar-redes.png);
  background-size: cover;
}
.recordatorioRRSSParaPromos p {
  font-size: 16px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .recordatorioRRSSParaPromos {
    height: 360px;
  }
  .recordatorioRRSSParaPromos p {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1280px) {
  .recordatorioRRSSParaPromos {
    height: 480px;
  }
  .recordatorioRRSSParaPromos p {
    font-size: 28px;
  }
}

a:hover {
  color: white;
  font: bolder;
  border-radius: 5px;
}

a:active {
  color: white;
  font: bolder;
  border-radius: 5px;
  background-color: #000000;
}

.contenedorMarcas {
  height: 180;
}
.contenedorMarcas p {
  font-size: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .contenedorMarcas {
    height: 270;
  }
  .contenedorMarcas p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .contenedorMarcas {
    height: 360;
  }
  .contenedorMarcas p {
    font-size: 18px;
  }
}

.tituloMarca h1 {
  font-weight: bolder;
  font-size: 24px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .tituloMarca h1 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1280px) {
  .tituloMarca h1 {
    font-size: 40px;
  }
}

.logoMarca img {
  margin: 10px;
  height: 75px;
  width: 75px;
  border-radius: 100px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .logoMarca img {
    height: 115px;
    width: 115px;
  }
}
@media only screen and (min-width: 1280px) {
  .logoMarca img {
    height: 200px;
    width: 200px;
    border-radius: 150px;
  }
}

.botonCatalogoMarcas {
  background-color: transparent;
}
.botonCatalogoMarcas img {
  margin: 10px;
  height: 50px;
  width: 200px;
  transform: scale(1);
  transition: all 0.15s ease-in;
}
.botonCatalogoMarcas img:active {
  transform: scale(0.95);
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .botonCatalogoMarcas img {
    height: 75px;
    width: 300px;
  }
}
@media only screen and (min-width: 1280px) {
  .botonCatalogoMarcas img {
    height: 100px;
    width: 400px;
  }
}

.recepcionCorporalFacialTips h1 {
  font-size: 18px;
  font-weight: bolder;
}
.recepcionCorporalFacialTips p {
  font-size: 10px;
  font-style: italic;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .recepcionCorporalFacialTips h1 {
    font-size: 28px;
  }
  .recepcionCorporalFacialTips p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .recepcionCorporalFacialTips h1 {
    font-size: 32px;
  }
  .recepcionCorporalFacialTips p {
    font-size: 18px;
  }
}

.textoTips {
  margin: 10px;
}
.textoTips a {
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  position: relative;
}
.textoTips a::before {
  content: "";
  border-bottom: 2px solid #000000;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  transition: all 0.15s ease-in;
  opacity: 0;
}
.textoTips a:hover::before {
  width: 100%;
  opacity: 1;
}
.textoTips a:active {
  color: white;
  background-color: transparent;
  font: bolder;
}
.textoTips a:active::before {
  opacity: 0;
}
.textoTips p {
  font-size: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .textoTips a {
    font-size: 24px;
  }
  .textoTips p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .textoTips a {
    font-size: 28px;
  }
  .textoTips p {
    font-size: 18px;
  }
}

.tituloTips {
  margin: 10px;
}
.tituloTips h2 {
  font-size: 24px;
  font-weight: bolder;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .tituloTips h2 {
    font-size: 36px;
  }
}
@media only screen and (min-width: 1280px) {
  .tituloTips h2 {
    font-size: 40px;
  }
}
.tituloTips h3 {
  font-size: 16px;
  font-weight: bolder;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .tituloTips h3 {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1280px) {
  .tituloTips h3 {
    font-size: 28px;
  }
}

.itemLinkCorporalFacial {
  height: 150px;
  flex: 1 1 33%;
  max-width: 33%;
  transform: scale(1);
  transition: all 0.15s ease-in;
}
.itemLinkCorporalFacial a {
  font-size: 10px;
}
.itemLinkCorporalFacial:hover {
  transform: scale(1.15);
}
.itemLinkCorporalFacial:hover img {
  filter: blur(4px) grayscale(50%);
}
.itemLinkCorporalFacial .contenedor-texto-sobre-imagen {
  overflow: hidden;
  position: relative;
}
.itemLinkCorporalFacial .contenedor-texto-sobre-imagen p {
  font-size: 10px;
  border-radius: 5px;
}
.itemLinkCorporalFacial .contenedor-texto-sobre-imagen img {
  margin-top: 13px;
  margin-bottom: 13px;
  top: 50%;
  left: 50%;
  width: 125px;
  height: auto;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .itemLinkCorporalFacial .contenedor-texto-sobre-imagen p {
    font-size: 16px;
  }
  .itemLinkCorporalFacial .contenedor-texto-sobre-imagen img {
    width: 200px;
  }
}
@media only screen and (min-width: 1280px) {
  .itemLinkCorporalFacial .contenedor-texto-sobre-imagen p {
    font-size: 18px;
  }
  .itemLinkCorporalFacial .contenedor-texto-sobre-imagen img {
    width: 275px;
  }
}
.itemLinkCorporalFacial .texto-sobre-imagen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .itemLinkCorporalFacial {
    height: 225px;
  }
  .itemLinkCorporalFacial a {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .itemLinkCorporalFacial {
    height: 300px;
  }
  .itemLinkCorporalFacial a {
    font-size: 18px;
  }
}

.barraCategoriaProductos {
  width: 100%;
  height: 30px;
  background-color: #D7B8FF;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .barraCategoriaProductos {
    height: 45px;
  }
}
@media only screen and (min-width: 1280px) {
  .barraCategoriaProductos {
    height: 60px;
  }
}

.muestraProductos {
  justify-content: space-evenly;
}
.muestraProductos .carruselProductos {
  height: 150px;
  width: 30%;
  overflow: hidden;
  align-items: center;
  transform: scale(1);
  transition: all 0.15s ease-in;
}
.muestraProductos .carruselProductos img {
  margin-top: 10px;
  width: auto;
  height: 125px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
}
.muestraProductos .carruselProductos:hover {
  transform: scale(1.15);
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .muestraProductos .carruselProductos {
    height: 225px;
    width: 20%;
  }
  .muestraProductos .carruselProductos img {
    height: 175px;
  }
}
@media only screen and (min-width: 1280px) {
  .muestraProductos .carruselProductos {
    height: 350px;
    width: 20%;
  }
  .muestraProductos .carruselProductos img {
    height: 275px;
  }
}

.barraCategoriaProductoYEnvioACatalogo {
  height: 30px;
  background-color: #D7B8FF;
}
.barraCategoriaProductoYEnvioACatalogo h2, .barraCategoriaProductoYEnvioACatalogo a {
  font-size: 16px;
  color: #000000;
  text-decoration: none;
}
.barraCategoriaProductoYEnvioACatalogo a:hover {
  color: white;
  font: bolder;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .barraCategoriaProductoYEnvioACatalogo {
    height: 45px;
  }
  .barraCategoriaProductoYEnvioACatalogo h2, .barraCategoriaProductoYEnvioACatalogo a {
    font-size: 24px;
  }
}
@media only screen and (min-width: 1280px) {
  .barraCategoriaProductoYEnvioACatalogo {
    height: 60px;
  }
  .barraCategoriaProductoYEnvioACatalogo h2, .barraCategoriaProductoYEnvioACatalogo a {
    font-size: 28px;
  }
}

.NovedadesYLanzamientos {
  height: 200px;
  background-image: url(../assets/novedades.jpg);
  background-size: cover;
}
.NovedadesYLanzamientos h2 {
  font-size: 16px;
}
.NovedadesYLanzamientos p {
  font-size: 10px;
}
@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .NovedadesYLanzamientos {
    height: 300px;
  }
  .NovedadesYLanzamientos h2 {
    font-size: 24px;
  }
  .NovedadesYLanzamientos p {
    font-size: 16px;
  }
}
@media only screen and (min-width: 1280px) {
  .NovedadesYLanzamientos {
    height: 400px;
  }
  .NovedadesYLanzamientos h2 {
    font-size: 28px;
  }
  .NovedadesYLanzamientos p {
    font-size: 18px;
  }
}

/* actualizo */

/*# sourceMappingURL=style.css.map */
